body {
    background-color: rgb(9, 9, 9);
}

#main_title {
    color: rgb(99, 99, 99);
    font-family: 'Times New Roman';
    font-size: large;
    text-align: center;
}

#main_image {
    width: 100%
}

@media (max-width: 600px) {
    #main_image {
        max-width: 100% !important;
    }
}
@media (min-width: 601px) {
    #main_image {
        max-width: 70% !important;
    }
}